:root {
  --bg: #6441a5;
  --board: #ffffff;
  --shadow: rgb(0, 0, 0);
}

html{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow:hidden;
  font-family: 'Silkscreen', cursive;
}
.start-block{
  display: flex;
  width: 92vw;
  height: 90vh;
  border-radius: 2vh;
  border: .25vh solid var(--shadow);
  background-color: var(--board);
  z-index: 1;
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow),
  1.25vw 1.25vw 0px var(--shadow);
}
button:hover {
  cursor: pointer
}
#player{
  position: absolute;
  display:flex;
  width: 3vh;
  height: 3vh;
  background: radial-gradient(#00d9ff, #ffffff);  
  border: 3px solid black;
  left: 10%;
  top: 10%;
  transition: all 2s;
  /* z-index: 2; */
  border-radius: 1000px;
  margin-left: calc(-1.5vh + 2px);
  margin-top: calc(-1.5vh + 2px);
  z-index: 4;
}
#bullet{
  display: flex;
  position:absolute;
  width: 2vh;
  height: 2vh;
  background: white;
  border-radius: 1000px;
  /* background-color: #0ff; */
  border: 2px solid var(--bg);
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); */
  transition: all 5s;
  z-index: 3;
}
.pole{
  display: flex;
  /* background-color: white; */
  background-color: var(--bg);
  border: .25vh solid rgb(0, 0, 0);
  width:3vh;
  height:3vh;
  border-radius: 1000px;
  position: absolute;
  margin-left: -1.5vh;
  margin-top: -1.5vh;
  z-index: 2;
  box-shadow: 
  inset .5vw .5vw 0px var(--shadow),
  inset .75vw .75vw 0px var(--shadow),
  inset 1vw 1vw 0px var(--shadow);
  /* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8); */
}

.prisoner{
  display: flex;
  position:absolute;
  width: 3vh;
  height: 3vh;
  background-color:purple;
  /* border: 2.5px solid rgb(133, 133, 133); */
  border-radius: 1000px;
  transition: all 14s;
  margin-left: -1.5vh;
  margin-top: -1.5vh;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  z-index: 2;
}
.question{
  display: flex;
  width: 5vw;
  height: fit-content;
  border: .25vh solid var(--shadow);
  background-color: var(--board);
  justify-content:space-evenly;
  align-items: center;
  position:absolute;
  border-radius: .5vh;
  font-size: 2vh;
  top:.5vh;
  right: 4vw;
  color: rgb(52, 52, 52);
  flex-direction: row;
  padding: .5vh;
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow);
  z-index: 0;
  border-radius: 1vh;
  /* bottom: 0; */
}
#how-to{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(44, 44, 44);
  text-align: center;
  width:40vh;
  position: absolute;
  height: 40vh;
  z-index: 5;
  top: 30vh;
  font-size: 1.8vh;
  border-radius: 25px;
  background-color: var(--board);
  border: 2px solid var(--shadow);
  /* gap: 20px; */
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow),
  1.25vw 1.25vw 0px var(--shadow);
 
}
.question:hover{
  cursor: pointer;
}
.pole:hover{
  cursor: pointer;
}
.scoreContainer{
  display: flex;
  width: 75vw;
  height: fit-content;
  border: .25vh solid var(--shadow);
  background-color: var(--board);
  justify-content:space-evenly;
  align-items: center;
  position:absolute;
  border-radius: .5vh;
  font-size: 2vh;
  left: 5vw;
  top:.5vh;
  color: rgb(84, 83, 83);
  flex-direction: row;
  padding: .5vh;
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow);
  z-index: 0;
  border-radius: 1vh;
  /* bottom: 0; */
}
.hp, .score{
  flex-direction: row;
  width: fit-content;
}
.restartContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(44, 44, 44);
  width:40vh;
  position: absolute;
  height: 40vh;
  z-index: 5;
  top: 30vh;
  font-size: 3vh;
  border-radius: 25px;
  background-color: var(--board);
  border: 2px solid var(--shadow);
  /* gap: 20px; */
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow),
  1.25vw 1.25vw 0px var(--shadow);
 
}
.restartText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#restart, #start, #continue, #info-restart{
  color: rgb(44, 44, 44);
  font-family: 'Silkscreen', cursive;
  margin: 10px;
  padding: 10px;
  background-color: var(--board);
  /* border-radius: 5px; */
  border-radius: 1vh;
  border: solid var(--shadow);
  font-size: 2vh;
  margin: 1vh;
  padding: 1vh;
  box-shadow: 
  .5vw .5vw 0px var(--shadow),
  .75vw .75vw 0px var(--shadow),
  1vw 1vw 0px var(--shadow),
  1.25vw 1.25vw 0px var(--shadow);
}
#continue,#info-restart{
  display: none;
}
#continue:hover, #restart:hover{
  cursor: pointer;
}
.explode{
display: flex;
height: 40px;
width: 40px;
/* background-color: orange; */
/* border: 2px solid rgb(250, 255, 119); */
border-radius: 100px;
z-index: 2;
position: absolute;
animation: explode .5s ease-in-out ;
}
@keyframes explode {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
 
  100%{
    transform: scale(0);
  }
}

